<!DOCTYPE html>
<html>

<head>
    <title>Simple SQL Editor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='css/logo.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function foo(msg) {
            alert(msg);
            return true;
        }
    </script>
</head>

<body>
    <div class="container">
        <h1 style="text-align:center;">Simple SQL Editor</h1>
        <h2 style="text-align:center;color:#800000;">Please Enter Your Query Here</h2>
        <form action="{{ url_for('display')}}" method="post" style="text-align:center;">
            <textarea type="text" name="Query" style="max-width: 70%;" cols="40" rows="5">{{query}}</textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <script>
            var a = "{{error | safe}}";
            foo(a)
        </script>
	<a href="/" style="text-align:center;">
            <button style="text-align:center;" class="button button2">
                Home
            </button>
        </a>
    </div>
</body>
</html>
