<!DOCTYPE html>
<html>

<head>
    <title>GUI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <form action="{{ url_for('display')}}" method="post" style="text-align:center;">
            <strong>Query: </strong>
            <input type="text" name="Query" placeholder="Query" />
            <input type="submit" value="Submit">
        </form>
        <h2 style="text-align: center;">Current Database Structure</h2>
        {% for k in range(n) %}
        <h3 style="text-align: center;">{{table[k][0]}}</h3>
        <table style="width:70%;padding-left: 30%;">
            <tr>
                {% for j in column[k] %}
                <th style="text-align: center;">{{j[0]}}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for i in data[k] %}
            <tr>
                {% for x in i %}
                <td style="text-align: center;">{{x}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tr>
        </table>
        {% endfor %}
    </div>
</body>

</html>
