<!DOCTYPE html>
<html>

<head>
    <title>Simple SQL Editor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='css/logo.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
         <form action="{{ url_for('display')}}" method="post" style="text-align:center;">
            <textarea type="text" name="Query" style="max-width: 70%;" cols="40" rows="5">{{query}}</textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
        <table style="text-align:center;margin-left: auto;margin-right: auto;">
            <tr>
                {% for j in col %}
                <th style="text-align: center;background-color:#00FF00;">{{j}}</th>
                {% endfor %}
            </tr>
            {% for data in output %}
            <tr>
                {% for i in range(n) %}
                <td style="text-align: center;background-color:#FFF746;">{{data[i]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/" style="text-align:center;">
            <button style="text-align:center;" class="button button2">
                Home
            </button>
        </a>
    </div>
</body>
</html>
